# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

command-api/target/
application/target/
service-api/target/
coverage-aggregator/target/

# IDEA is configured to have a run target which uses this directory as its --data-directory
.chatter-test-data/

# This directory is only on my local machine, it contains pictures of cats
.test-images/

.javadoc/